{% extends 'client/base.html' %}

{% load my_tags %}

{% block content %}
<div class="col-12">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <br><br>
                <div class="row">
                    <div class="col-4">
                        <div style="color: red">{% count_mailing %}</div>
                    </div>
                    <div class="col-4">
                        <div style="color: red">{% count_mailing_activ %}</div>
                    </div>
                    <div class="col-4">
                        <div style="color: red">{% count_clients_uniq %}</div>
                    </div>
                </div>


                <section>
                    <br>
                    <h5>Три случайные статьи:</h5>
                    <ul>
                        {% get_random_3_blogs as random_blogs %}
                        {% for blog in random_blogs %}
                        <li>
                            <h6>{{ blog.title }}</h6>
                            <p>{{ blog.content|truncatewords:20 }}</p>
                            <img src="{{ blog.preview_image|media_filter }}" class="card-img-top" alt="{{ object.image|media_filter }}">
                            <a href="{% url 'blog:view' blog.id %}"> Читать далее </a>

                        </li>
                        {% endfor %}
                    </ul>
                </section>


            </div>
        </div>
    </div>
</div>

{% endblock content %}