.card img {
    width: 30%; /* Задает ширину изображения 100% от родительского элемента */
    height: 200px; /* Устанавливает фиксированную высоту */
    object-fit: cover; /* Обеспечивает обрезку изображения, чтобы оно заполнило контейнер */
}